body {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

nav {
    height: 80px;
    padding: 0 100px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-weight: 800;
}

.nav_logo_area {
    height: 100%;
    width: 140px;
    background-image: url('./logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0%;
}

.menu_link_area {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_link_area a {
    text-decoration: none;
    font-weight: 600;
}

.menu_link_area a:link, 
.menu_link_area a:visited,
.menu_link_area a:active{
    color: #ffffff;
}

.menu_link_area a:hover {
    color: #1cc541;
}

main {
    height: 968px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1cc541;
    background-color: #141c91;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 160%;
    background-position: center 0;
}

.main_content_area {
    width: 1250px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main_content_area .main_massage_1 {
    font-size: 150px;
    font-weight: 800;
    align-self: flex-start;
}

.main_content_area .main_massage_2 {
    font-size: 150px;
    font-weight: 800;
    align-self: flex-end;
}

.main_content_area .main_massage_3 {
    align-self: center;
}

.main_content_area .main_button {
    width: 180px;
    height: 50px;
    align-self: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    color: #141c91;
    background-color: #1cc541;
    border: 0;
    border-radius: 25px;
}

.main_content_area .main_button:hover {
    background-color: #2cec55;
    transform: scale(1.1);
}

.main_content_area .main_button {
    width: 180px;
    height: 50px;
    align-self: center;
    font-size: 15px;
    font-weight: 600;
    color: #141c91;
    background-color: #1cc541;
    border: 0;
    border-radius: 25px;
}

footer {
    height: 530px;
    background-color: #000000;
    color: #ffffff;
}

footer .main_container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

footer .main_container .footer_link_area {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 70px;
}

footer .main_container .footer_logo {
    height: 100px;
    width: 140px;
    background-image: url('./logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

footer .main_container .footer_link_area .link_list p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 800;
    color: #969696;
}

footer .main_container .footer_link_area .link_list a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 400;
}

footer .main_container .footer_link_area .link_list a:link, 
footer .main_container .footer_link_area .link_list a:visited,
footer .main_container .footer_link_area .link_list a:active {
    color: #ffffff;
}

footer .main_container .footer_link_area .link_list a:hover {
    color: #1cc541;
}

footer .main_container .footer_button_area {
    margin-top: 70px;
    display: flex;
}

footer .main_container .footer_button_area div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-color: #3f3f3f;
    border-radius: 50%;
}

footer .main_container .footer_button_area i {
    font-size: 20px;
    color: #ffffff;
}

footer .main_container .footer_button_area i:hover {
    color: #1cc541;
}

footer .footer_first_bottom {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    color: #969696;
    font-size: 13px;
}

footer .footer_second_bottom {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #969696;
    margin-top: 15px;
}

footer .footer_second_bottom .link_list {
    display: flex;
    justify-content: space-between;
    width: 750px;
}
footer .footer_second_bottom .link_list a {
    text-decoration: none;
}

footer .footer_second_bottom .link_list a,
footer .footer_second_bottom .link_list a:link, 
footer .footer_second_bottom .link_list a:visited,
footer .footer_second_bottom .link_list a:active {
    color: #969696;
}

footer .footer_second_bottom .link_list a:hover {
    color: #1cc541;
}